#nav-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 7;
    background-color: rgb(201, 215, 235);
    width: 100%;
    height: 75px;
}
#nav-bar ul {
    list-style: none;
    margin: 0px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
#nav-bar ul li {
    display: inline;
}
main {
    position: relative;
    top: 100px;
    max-width: 960px;
    margin: auto;
}
td, th {
    padding: 5px;
}
.middle {
    text-align: center;
}
#user-selection {
    display: flex;
    justify-content: space-around;
}
#th0 {
    text-align: left;
}
@media (max-width: 600px) {
    nav#nav-bar {                    
        height: 100px;
    }
    nav#nav-bar ul {
        flex-direction: column;
        
    }
    nav#nav-bar ul li {
        display: block;
    }
    main {
        top: 125px;
    }
}

#intro, #feature-container, #about-div, #donate-div, #table-info-div, #playerSearch {
    text-align: center;
}

/*#sticky-table-div {
    z-index: 5;
    background-color: aquamarine;
}*/